<h1>Log in</h1>

<div class="login-form">
  <%= form_tag admin_authenticate_path do %>
    <%= text_field_tag :username, nil, placeholder: "Username" %>
    <%= password_field_tag :password, nil, placeholder: "Password" %>
    <button>Log in</button>
  <% end %>
</div>
