<h1>Edit editor</h1>

<%= form_for([:admin, @editor], builder: ActionView::Helpers::FormBuilder) do |f| %>
  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <button class="save">Save</button>
<% end %>

<%= button_to "Delete #{@editor.name}", admin_editor_path(@editor), method: :delete %>
