<h1>Composers</h1>
<h2>Add composer</h2>
<div clas="addcomposer">
<%= form_for([:admin, Composer.new]) do |f| %>
  <%= f.text_field :name %>
  <button>Create</button>
<% end %>
</div>

<h2>Edit existing composers</h2>

<div class="mainlist">
<ul class="composers">
  <% Composer.order(:name).each do |composer| %>
    <li class="composer"><%= link_to composer.name, edit_admin_composer_path(composer) %></li>
  <% end %>
</ul>
</div>
