<h1>New composer</h1>

<%= form_for([:admin, Composer.new]) do |f| %>
  <%= f.text_field :name %>
  <button type="button" name="button">Create</button>
<% end %>

<ul class="composers">
  <% Composer.order(:name).each do |composer| %>
    <li class="composer"><%= link_to composer.name, edit_admin_composer_path(composer) %></li>
  <% end %>
</ul>
