<h1>Composers</h1>
<button onclick="myFunction()" class="help">Show/hide help</button>
<div id="adminhelp"> <u>Some important things to remember when cataloguing</u>:
<ul>
  <li>Use standardised composer names from Grove where possible. The aliases are handled by the database already.</li>
  <li>If you tihnk you havefound a new compoesr, make sure you do a bit of research first to make sure s/he's not already on the list under another name/spelling.</li>
</ul>
</div>
<h2>Add composer</h2>
<div clas="addcomposer">
<%= form_for([:admin, Composer.new]) do |f| %>
  <%= f.text_field :name %>
  <button>Create</button>
<% end %>
</div>
<hr>
<div class="listofcomposers">
<ul class="composers">
  <% Composer.order(:name).each do |composer| %>
    <li class="composer"><%= link_to composer.name, edit_admin_composer_path(composer) %></li>
  <% end %>
</ul>
</div>
