<div class="header-row">
  <div class="title">Title</div>
  <div class="composers">Composer(s)</div>
  <div class="minimum-voices tiny"># vox</div>
  <div class="sources">Sources</div>
  <div>Recording: Performer / URL</div>
  <div class="tiny">&nbsp;</div>
</div>
