<% headings_partial ||= "headings" %>
<% row_partial ||= "row" %>

  <div class="recordings-editor">
    <%= render headings_partial %>
    <% @groups.each do |group| %>
      <%= render row_partial, group: group %>
    <% end %>
  </div>
