<tr class="header-row">
  <th>Title</th>
  <th>Function(s)</th>
  <th>Composer</th>
  <th>#</th>
  <th>Sources</th>
  <th>Editions
    <span>
      <em>Editor (voicing)</em>
    </span>
  </th>
  <th>Listen</th>
</tr>
