<div class="header-row">
  <div>Title</div>
  <div>Function(s)</div>
  <div>Composer</div>
  <div class="tiny">#</div>
  <div>Sources</div>
  <div>
    <div class="performing-editions">
      Editions
    </div>
    <div class="editor-and-voicing">
      <em>Editor (voicing)</em>
    </div>
  </div>
  <div>Listen</div>
</div>
