<% prefix = "" unless defined?(:prefix) %>
<div class="maintable">
  <table class="sortable">
    <%= render "#{prefix}headings" %>
    <% @groups.each do |group| %>
      <%= render "#{prefix}row", group: group %>
    <% end %>
  </table>
</div>
