<% headings_partial ||= "headings" %>
<% row_partial ||= "row" %>

  <table class="sortable" data-sortable>
    <thead>
      <%= render headings_partial %>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <% if group.compositions.any? { |composition| composition.inclusions.count > 0 } %>
          <%= render row_partial, group: group %>
        <% end %>
      <% end %>
    </tbody>
  </table>
