<% headings_partial ||= "headings" %>
<% row_partial ||= "row" %>

  <table class="sortable" data-sortable>
    <thead>
      <%= render headings_partial %>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <%= render row_partial, group: group %>
      <% end %>
    </tbody>
  </table>
