<h1>The Polyphony Database</h1>
<a class="contact-email" href="mailto:contact@polyphonydatabase.com">contact@polyphonydatabase.com</a>

  <%= render "filters", search_path: root_path %>
  <%= render "table" %>

