<h1>The Polyphony Database</h1>
<div class="wrapper">
  <button class="help">Show/hide help</button>

  <div class="topexplanation">
    Coming soon...
  </div>

  <%= render "filters", search_path: root_path %>
  <%= render "table" %>
</div>
