<div class="header-row">
  <div class="title">Title</div>
  <div class="composers">Composer(s)</div>
  <div class="minimum-voices"># vox</div>
  <div class="sources">Sources</div>
  <div>Edition: Voicing / editor / URL</div>
  <div>&nbsp;</div>
</div>
