<h1>Sources</h1>

<h2>Add source</h2>
<%= form_for([:admin, Source.new]) do |f| %>
  <%= f.text_field :code %>
  <button class="addsource">Add</button>
<% end %>

<h2>Uncatalogued</h2>
<ul>
  <% Source.uncatalogued.each do |src| %>
    <li><%= link_to src.code, edit_admin_source_path(src) %></li>
  <% end %>
</ul>

<h2>Catalogued</h2>
<ul>
  <% Source.catalogued.each do |src| %>
    <li><%= link_to src.code, edit_admin_source_path(src) %></li>
  <% end %>
</ul>
