<h1>Sources</h1>
<button onclick="myFunction()" class="help">Show/hide help</button>
<div id="adminhelp"> <u>Some important things to remember when cataloguing</u>:
<ul>
  <li>To get a source to move into the 'Finished' pile, you'll need to tick the 'Catalogued' checkbox in the cataloguing page. Remember to have a final check for spellings and things!</li>
  <li>You can temporarily move things to the finished pile while you work on them to prevent accidentally editing the same thing as someone else at the same time, but if you don't finish it completely in one sitting, please move it back before you log off.</li>
  <li>It should be obvious from the list below what format to use for each source 'code', but if you're unsure ask me.</li>
</ul>
</div>
<h2>Add source</h2>
<div class="addsource">
<%= form_for([:admin, Source.new]) do |f| %>
  <%= f.text_field :code, placeholder: "e.g. RISM_A123 or GB-Och_979-983" %>
  <button class="addsource">Add</button>
<% end %>
</div>
<hr>
<div class="listofsources">
  <div>
<h2>To catalogue</h2>
<ul>
  <% Source.uncatalogued.order(:code).each do |src| %>
    <li><%= link_to src.code, edit_admin_source_path(src) %></li>
  <% end %>
</ul>
  </div>
  <div>
   <h2>Finished</h2>
<ul>
  <% Source.catalogued.order(:code).each do |src| %>
    <li><%= link_to src.code, edit_admin_source_path(src) %></li>
  <% end %>
</ul>
  </div>
</div>
