<h1>Sources</h1>

<h2>Add source</h2>
<div class="topform">
<%= form_for([:admin, Source.new]) do |f| %>
  <%= f.text_field :code, placeholder: "e.g. RISM_A123 or GB-Och_979-983" %>
  <button class="addsource">Add</button>
<% end %>
</div>

<div class="listofsources">
  <div>
    <h2>To catalogue</h2>
    <ul class="mainlist">
      <% Source.uncatalogued.order(:code).each do |src| %>
        <li><%= link_to src.code, edit_admin_source_path(src) %></li>
      <% end %>
    </ul>
  </div>
  <div>
       <h2>Finished</h2>
    <ul class="mainlist">
      <% Source.catalogued.order(:code).each do |src| %>
        <li><%= link_to src.code, edit_admin_source_path(src) %></li>
      <% end %>
    </ul>
  </div>
</div>
