<tr>
  <th class="title">Title</th>
  <th class="function">Function(s)</th>
  <th class="composers">Composer</th>
  <th class="minimum-voices">#</th>
  <th class="sources">Sources</th>
  <th class="edition">
    <div class="performing-editions">
      Editions
    </div>
    <div class="editor-and-voicing">
      Editor (voicing)
    </div>
  </th>
  <th class="recording">Listen</th>
</tr>
