<h1>The Polyphony Database</h1>
<div class="wrapper">
  <button onclick="myFunction()" class="help">Show/hide help</button>
  <div id="topexplanation">
    Welcome to the Polyphony Database, the new free resource for early music enthusiasts and musicologists. There's not much to see here at the moment, but check back soon as we'll be adding new things every day.
    <br><br>
    <u>Some notes on filtering</u>:
    <br>
    <ul>
      <li><b>Search</b> looks through all titles, composers (including variant spellings and aliases), source titles, editions, and performers.</li>
      <li><b>Functions</b> list particularly appropriate times to perform sacred music liturgically.</li>
      <li><b>Countries</b> refer to the modern day country in which the composer was born.</li>
      <li><b># Voices</b> doesn't count partial voices (e.g. an extra voice in the second Agnus Dei of a mass setting).</li>
      <li><b>Sources</b> are named to match their RISM classification (prints) or library shelf mark (MSS). A full list of library sigla can be found <a href="http://www.rism.info/en/sigla.html">here</a></li>
      <li>Ticking <b>Edition</b> or <b>Recording</b> will just show pieces with free PDF downloads and performances respectively.</li>
    </ul>
    <br>
   <u>Some notes on the display table</u>:
    <br>
    <ul>
      <li><b>Sources</b> lists all currently catalogued sources for a given piece, each linked to facsimile images of the original at one of the many digital libraries online.</li>
      <li>The clefs are sorted high-to-low and can be partial (greyed out) which denotes those only present for a small portion of a piece or incomplete (red box) which means a voice is missing in the original and needs to be reconstructd by an editor.</li>
      <li>You might also see some clefs with a small blue clef to their right. This represents a part with a large range that is primarily in the large clef but has a significant portion written out in the blue clef.</li>
      <li>N.B. Functions, clef, and detailed source notes are hidden if you're browsing on a small screen, but can still be filtered.</li>
      <li>The RISM link takes you to the corresponding source at the website for the Répertoire International des Sources Musicales, which has more detailed information on extant copies.</li>
    </ul>
    <br>
    This hobby project is an altruistic venture and free for anyone to use. If you want to print and use an edition, please don't remove any editorial credits or make any changes without consulting the editor - and do get in touch as we love to hear about the music we love being performed!
    <br><br>
    If you would like to help with the cataloguing, donate some money or time to the cause, or pay to commission the cataloguing or editing of anything in particular, please contact Francis at <a href="mailto:francis@prestopublications.co.uk">francis@prestopublications.co.uk</a>
    </div>

  <%= render partial: "filters" %>
  <%= render partial: "table" %>
</div>
