<h1>Performers</h1>

<div class="topform">
  <h2>Add performer</h2>
  <%= form_for([:admin, Performer.new]) do |f| %>
    <%= f.text_field :name %>
    <button>Create</button>
  <% end %>
</div>

<h2>Edit existing performers</h2>
<ul class="mainlist">
  <% Performer.order(:name).each do |performer| %>
    <li><%= link_to performer.name, edit_admin_performer_path(performer) %></li>
  <% end %>
</ul>
