<div class="header-row">
  <div></div>
  <div class="title">Title</div>
  <div class="composers">Composers</div>
  <div class="minimum-voices">Minimum voices</div>
  <div class="sources">Sources</div>
</div>
