<h1>Composition grouping</h1>

<div class="grouping">

  <%= render "groups/filters", search_path: admin_groups_path %>
  <%= form_tag merge_admin_groups_path(request.query_parameters) do %>
    <%= render "groups/table" %>
  
    <span class="save-button">
      <label>Display title: <%= text_field_tag :display_title %></label>
      <p>(Will use the first composition's title if left blank)</p>
      <button>Group</button>
    </span>

</div>
<% end %>
