<h1>Composition grouping</h1>

<%= render "groups/filters", search_path: admin_groups_path %>
<%= form_tag merge_admin_groups_path do %>
  <%= render "groups/table" %>
  <button>Merge</button>
<% end %>
