/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* GENERAL */
 * {
    padding: 0;
    border: 0;
    margin: 0
}

body {
    background: repeating-linear-gradient(45deg, #3a3a3a, #3a3a3a 1px, #3c3c3c 3px, #3a3a3a 5px);
    font-size: 14px;
    font-family: "palatino linotype",serif;
    box-sizing: border-box
}
a,a:visited,a:active {
    text-decoration: none;
    font-weight: bold;
    color: #006699
}
a:hover {
    color: orange;
    cursor: pointer
}
h1 {
    background-color: #039;
    background: linear-gradient(#a00, #6c0000);
    padding: 1%;
    color: #fff;
    text-align: center;
    font-size: 190%;
}
button.help,
div.topexplanation {
    display:none;
}
div.filters {
    padding:10px;
}
div.filters form {
    display:flex;
    flex-wrap:wrap;
    flex-grow:1;
}
select,
input {
    margin:5px;
    border-radius:5px;
    padding:5px;
    font-size:1.1em;
}
div.filters {
    font-size:1.1em;
}
div.filters form label {
    margin:5px;
    border-radius:5px;
    padding:5px;
    background-color: lightgrey;
}
button {
    color: white;
    background-color: #104e8b;
    border:2px groove #2e6ca9;
    padding:5px;
    margin:5px;
    min-width:120px;
    border-radius:5px;
}
button:hover {
    background-color: #2e6ca9;
    transform:scale(1.07,1.07);
}
table {
    border-collapse: separate;
    border-spacing: 1px;   
    width:100%;
    margin:10px;
    min-width:960px;
}
table table {
    width:100%;
    margin:0;
    min-width:0;
}
th {
    color: white;
    background-color: #104e8b;
}
tr:first-child {
    border-radius:5px 5px 0 0;
}
tr:last-child {
    border-radius:0 0 5px 5px;
}
td {
    background-color: lightgrey;
    padding:6px;
}
table img {
    height:25px;
}
div.maintable {
    overflow-x:auto;
    width:100%;
}
.maintable table td.title,
.maintable table th.title {
    width:15%;
}
.maintable table td.functions,
.maintable table th.function,
.maintable table td.composers,
.maintable table th.composers {
    width:11%;
}
.maintable table td.minimum-voices,
.maintable table th.minimum-voices {
    width:2%;
}
.maintable table td.editions,
.maintable table th.edition,
.maintable table td.recordings,
.maintable table th.recording {
    width:8%;
}
