/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* GENERAL */
 * {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: repeating-linear-gradient(45deg, #3a3a3a, #3a3a3a 1px, #3c3c3c 3px, #3a3a3a 5px);
    font-size: 14px;
    font-family: "palatino linotype",serif;
    box-sizing: border-box;
}
a,a:visited,a:active {
    text-decoration: none;
    font-weight: bold;
    color: #006699;
}
a:hover {
    color: orange;
    cursor: pointer;
}
li {
    list-style:none;
}
h1 {
    background-color: #039;
    background: linear-gradient(#a00, #6c0000);
    padding: 1%;
    color: #fff;
    text-align: center;
    font-size: 190%;
}
h2 {
    color:white;
    text-align:center;
    padding:10px;
    margin:20px auto;
    border-bottom:1px solid #595959;
    border-top:1px solid #595959;
}
form {
    padding:5px;
}
textarea,
input,
select,
span.select2,
label {
    width:100%;
    border-radius:4px;
    padding:4px;
    font-size:1.1em;
    border:none;
    min-height:30px;
    display:inline-block;
}
span.select2 {
    padding:0;
}
button,
input[type=submit] {
    color: white;
    background-color: #104e8b;
    border:2px groove #2e6ca9;
    padding:5px;
    margin:2px;
    width:auto;
    min-width:120px;
    border-radius:5px;
    cursor:pointer;
}
button:hover,
input[type=submit]:hover {
    background-color: #2e6ca9;
}
hr {
    width:80%;
    background-color:grey;
    height:1px;
    border:none;
    color:grey;
    margin:20px auto;
}
/* ===================== Admin tables as responsive flexi divs ======================= */
.header-row,
.body-row {
    display:flex;
    width:100%;
}
.header-row > div,
.body-row > div {
    background-color:lightgrey;
    margin:1px;
    padding:5px;
    flex:3;
}
.header-row > div {
    color: white;
    background-color: #104e8b;
}
.header-row > div.tiny,
.body-row > div.tiny {
    flex:1;
}
.header-row > div.large,
.body-row > div.large {
    flex:6;
}
@media screen and (max-width:850px) {
    .body-row {
        flex-wrap:wrap;
        margin:0 0 1px 0;
    }
    .header-row {
        display:block;
    }
    .body-row > div {
        min-width:100%;
        max-width:100%;
        margin:0;
        flex:1;
    }
}
div table {
    position:relative;
    top:-4px;
    left:-4px;
    background-color:#ececec;
}
div table td {
    padding:4px;
}
.body-row button {
    min-width:auto;
}
/* ======================= Admin menu ==================== */
.nav > * {
    display:block;
    max-height:0;
    overflow:hidden;
    transition:all 0.05s linear;
}
span.burger {
    max-height:1000px;
    font-size:3em;
    color:#ffffff;
    padding:4px 10px;
    display:inline-block;
    cursor:pointer;
}
.burger:hover {
    color:orange;
}
.nav.open > * {
    max-height:1000px;
    transition:all 0.05s linear;
}
ul.navigation li,
nav.pagination {
    text-align:center;
    padding:10px;
    font-size:1.1em;
    width:100%;
    background-color:#ececec;
}
ul.navigation li {
    display:flex;
    align-items:stretch;
    justify-content:center;
}
ul.navigation li a {
    width:100%;
    padding:5px;
    display:flex;
    text-transform:uppercase;
}
ul.navigation {
    padding:0px 5px;
    background-color:#ececec;
}
.open ul.navigation {
    padding:5px;
    background-color:#ececec;
}
div.login {
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#ececec;
    padding:0 10px;
    text-transform:uppercase;
    background-color:#006699;
    letter-spacing:1px;
}
.open div.login {
    padding:10px;
}
div.login input {
    max-width:120px;
    display:inline-block;
    margin:0;
    padding:0;
    border:none;
    background-color:transparent;
    font-weight: bold;
    color: #ffffff;
    text-transform:uppercase;
    letter-spacing:1px;
}
div.login input:hover {
    color:orange;
    cursor:pointer;
}
/* ============ Other admin page basics =================== */
.pagination > span {
    padding:4px;
}
.save-button {
    display:block;
    padding:10px;
    text-align:center;
    width:100%;
    color:#ffffff;
}
.save-button input {
    width:auto;
}
.save-button p {
    font-style:italic;
    margin-bottom:5px;
}
p.message {
    background-color:lightgrey;
    padding:10px;
    margin:6px;
    border-radius:5px;
    width:calc(100% - 12px);
}
.topform p {
  display: flex;
  flex-grow:1;
}
.topform form {
  display: flex;
  max-width: 600px;
  margin: 10px auto;
}
.topform label {
  margin-right:10px;
  width:auto !important;
  color:#ffffff;
}
.topform p input {
  width:auto !important;
  flex-grow:1;
}
.topform button {
  margin:0;
  margin-left:10px;
}
/* ================================ Filter dropdowns ========================== */
.filters label {
    display:flex;
    background-color:#ffffff;
    justify-content:space-between;
    align-items:center;
    padding-left:8px;
    font-family:arial;
}
.filters input,
.filters textarea,
.filters select,
.filters label {
    width:calc(100% - 12px);
    margin:6px;
    height:30px;
    float:left;
}
@media screen and (min-width:580px) {
    .filters select,
    .filters label {
        max-width:calc(50% - 12px);
    }
}
@media screen and (min-width:880px) {
    .filters select,
    .filters label {
        max-width:calc(30% - 12px);
    }
}
@media screen and (min-width:1200px) {
    .filters select,
    .filters label {
        max-width:calc(25% - 12px);
    }
}
.filters input {
    width:calc(100% - 12px);
}
span.select2 {
    max-width: 40vw;
}
@media screen and (max-width:550px) {
    .save-button {
        position:sticky;
        bottom:0;
        left:0;
        background-color: rgba(58,58,58,0.9);
    }
    span.select2 {
        max-width: 100%;
    }
}
input[type=checkbox] {
    width:auto !important;
}
/* ============= Public table ============ */
table {
    border-collapse:collapse;
}
table.sortable {
    margin:0 11px;
    min-width:calc(100% - 22px);
}
td {
    border:1px solid grey;
    padding:6px;
    background-color:lightgrey;
    valign:top;
    vertical-align:top;
}
th {
    background-color: #104e8b;
    color:#ffffff;
    text-align:left;
    padding:6px;
}
th span {
    display:block;
    font-size:0.9em;
}
table table {
    width:100%;
}
table table tr {
    display:flex;
    width:100%;
}
table table td {
    border:none;
    background-color:gainsboro;
}
table table tr+tr {
    border-top:1px solid darkgrey;
}
td.clefs {
    display:flex;
    flex-wrap:wrap;
    flex-grow:1;
    min-width:280px;
    max-width:280px;
}
img.clef-image {
    height:60px;
    max-height:60px;
    min-height:60px;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    display:inline-block;
    float:left;
}
img.clef-image.missing {
    border:1px solid darkred;
}
img.clef-image.optional {
    opacity:0.3;
}
img.clef-image.incomplete {
    border:1px solid green;
}
img.clef-image.missing+img.clef-image.missing,
img.clef-image.incomplete+img.clef-image.incomplete {
    border-left:none;
}
td a img {
    max-height:18px;
    min-height:18px;
    display:inline-block;
    float:left;
    margin-right:6px;
    vertcal-align:bottom;
}
td.source-name {
    min-width:280px;
    max-width:280px;
}
td.source-name > * {
    display:block;
}
td.notes {
    min-width:180px;
    max-width:180px;
    font-size:0.9em;
    border-left:1px solid darkgrey;
}
span.dates {
    font-style:italic;
    color:darkgrey;
    display:block;
}
td.title {
    min-width:220px;
}
td.title a {
    display:block;
    margin-top:10px;
    padding:4px;
    background-color:gainsboro;
}
/* =========== Groups editor =================== */
.body-row.in-group > * {
    margin:0 1px;
    background-color:gainsboro;
}
.body-row.in-group + .body-row > * {
    margin-top:2px;
}
.body-row.in-group + .body-row.in-group > * {
    margin:0 1px;
}
.body-row.first-in-group > * {
    margin-bottom:0;
}
.body-row.first-in-group a,
.body-row.in-group a {
    display:inline-block;
    float:right;
}
.group-display-name {
    font-style:italic;
    color:darkgrey;
    display:block;
}
/* ===================== Composer/source editor =================== */
.basics {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:auto;
    grid-gap:10px;
    align-items:start;
    color:#fff;
    max-width:950px;
    margin:0 auto;
}
@media screen and (max-width:580px) {
    .basics {
        grid-template-columns:1fr;
    }
}
.basics .label,
.basics .label p {
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:flex-start;
}
.basics .label > *,
.basics .label p > * {
    flex:2;
}
.basics .label > span,
.basics .label p > span,
.basics .label p label {
    margin-right:10px;
    text-align:right;
}
.basics .label > span.select2,
.basics .label p > span.select2 {
    margin-right:0;
    text-align:left;
}
.basics .label.includes-select2 {
    margin-right:5px;
}
.basics .label > input:first-of-type,
.basics .label > textarea:first-of-type,
.basics .label > select:first-of-type,
.basics .label > .select2:first-of-type,
.basics .label p > input:first-of-type,
.basics .label p > textarea:first-of-type,
.basics .label p > select:first-of-type,
.basics .label p > .select2:first-of-type {
    flex:1;
}
.basics .label > input:last-of-type,
.basics .label > textarea:last-of-type,
.basics .label > select:last-of-type,
.basics .label > .select2:last-of-type,
.basics .label p > input:last-of-type,
.basics .label p > textarea:last-of-type,
.basics .label p > select:last-of-type,
.basics .label p > .select2:last-of-type {
    flex:5;
}
.basics .label > input:nth-of-type(2),
.basics .label > textarea:nth-of-type(2),
.basics .label > select:nth-of-type(2),
.basics .label > .select2:nth-of-type(2),
.basics .label p > input:nth-of-type(2),
.basics .label p > textarea:nth-of-type(2),
.basics .label p > select:nth-of-type(2),
.basics .label p > .select2:nth-of-type(2)  {
    flex:4;
    margin-left:2px;
}
span.composer-image {
    display:block;
    margin:20px auto;
    max-width: 300px;
    max-height:300px;
}
span.composer-image img {
    max-width: 300px;
    max-height:300px;
}
.dates.source-editor .label {
    margin-bottom:2px;
}
.dates .label p label {
    display:none;
}
.basics .label p:last-of-type {
    flex:5;
}
.basics .label p:nth-of-type(2) {
    flex:4;
    margin-left:2px;
}
.basics .label .after-me + p {
    flex:1 !important;
}
.basics ul {
    color:#000;
}
label.checkbox {
    text-align:left;
}
label.checkbox input {
    position:relative;
    top:11px;
    margin-right:6px;
}
/*  ==================  Admin list pages  ======================  */
.mainlist {
    padding:20px;
    font-size:1.5em;
    text-align: center;
}
.listofsources {
    display:flex;
}
@media screen and (max-width:440px) {
    .listofsources {
        flex-direction:column;
    }
}
.listofsources > * {
    flex:1;
}
.listofsources ul {
    max-width: 400px;
    margin: 0 auto;
    display: block;
}
/* ============== Edition/recording uploader ================== */
form.edit_group {
    margin:0;
    padding:0;
}
.edition-upload,
.recording-upload {
    display:flex;
    flex-wrap:wrap;
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid darkgrey;
}
@media screen and (max-width:850px) {
    .edition-upload,
    .recording-upload {
        flex-direction:column;
    }
    .body-row .title {
        font-weight:bold;
    }
}
.edition-upload div,
.edition-upload span,
.recording-upload span {
    display:flex;
    justify-content:space-between;
    width:100%;
}
.edition-upload input,
.edition-upload select,
.recording-upload input,
.recording-upload select {
    margin:2px;
    width: calc(100% - 4px);
}
.edition-upload:first-of-type,
.recording-upload:first-of-type {
    margin-top:0;
    padding-top:0;
    border-top:none;
}
.edit_group td {
    border:none;
}
.login-form {
    padding:10px;
}
.login-form form > * {
    display:block;
    margin:6px auto;
    max-width:200px;
}
/* ============== Source editing rows ================ */
div.clefs {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:min-content;
    grid-gap:4px;
}
.body-row div.delete {
  text-align: center;
  font-size: 1.8em;
}
@media screen and (max-width:550px) {
    div.clefs {
        grid-template-columns:1fr 1fr 1fr 1fr;
        justify-content:center;
    }
}
@media screen and (max-width:850px) {
    .body-row div.delete {
      text-align: right;
    }
}
div.order input,
div.clefs input {
    max-height:30px;
    max-width:60px;
}
div.title textarea,
div.notes textarea {
    min-height:60px;
}
div.attributed-to li input,
div.attributed-to li select {
  margin-bottom:2px;
}
div.attributed-to li + li {
  margin-top:10px;
  padding-top:10px;
  border-top:1px solid darkgrey;
}
div.attributed-to li {
  display:block;
}
div.attributed-to li:last-of-type {
  display:none;
}
div.attributed-to li:first-of-type {
  display:block;
}
.another-att-trigger {
    color:#104e8b;
}
.another-att-trigger:hover {
    color:orange;
    cursor:pointer;
}
