/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* GENERAL */
 * {
    padding: 0;
    border: 0;
    margin: 0
}

body {
    background: repeating-linear-gradient(45deg, #3a3a3a, #3a3a3a 1px, #3c3c3c 3px, #3a3a3a 5px);
    font-size: 14px;
    font-family: "palatino linotype",serif;
    box-sizing: border-box
}
a,a:visited,a:active {
    text-decoration: none;
    font-weight: bold;
    color: #006699
}
a:hover {
    color: orange;
    cursor: pointer
}
li {
    list-style:none;
}
h1 {
    background-color: #039;
    background: linear-gradient(#a00, #6c0000);
    padding: 1%;
    color: #fff;
    text-align: center;
    font-size: 190%;
}
h2 {
    color:white;
    text-align:center;
    padding:10px;
    margin:20px auto;
    border-bottom:1px solid #595959;
    border-top:1px solid #595959;
}
button.help,
div.topexplanation {
    display:none;
}
select,
input {
    margin:10px;
    border-radius:5px;
    padding:5px;
    font-size:1.1em;
}
div.filters {
    width:98%;
    margin:10px auto;
    font-size:1.1em;
}
div.filters form {
    display:flex;
    flex-wrap:wrap;
    flex-grow:1;
    align-items:center;
    justify-content:stretch;
}
div.filters form > * {
    flex-grow:1;
}
div.filters input[type=text] {
    font-size:1.2em;
}
div.filters label {
    display:flex;
    justify-content:space-around;
}
div.filters form label {
    margin:5px;
    border-radius:5px;
    padding:5px;
    background-color: lightgrey;
}
button {
    color: white;
    background-color: #104e8b;
    border:2px groove #2e6ca9;
    padding:5px;
    margin:5px;
    min-width:120px;
    border-radius:5px;
    cursor:pointer;
}
button:hover {
    background-color: #2e6ca9;
    transform:scale(1.07,1.07);
}
table {
    border-collapse: separate;
    border-spacing: 1px;   
    width:100%;
    min-width:960px;
    overflow-x:auto;
    -webkit-overflow-scrolling: touch;
    margin:10px 0 30px 0;
}
table.sortable {
    width:98%;
    margin:10px auto 20px auto;
}
table table {
    width:100%;
    margin:0;
    min-width:0;
    border-spacing:2px;
}
table table td {
    background-color:#e2e2e2;
}
th {
    color: white;
    background-color: #104e8b;
}
td.sources tr:first-child td:first-child,
tr:first-child th:first-child {
    border-radius:5px 0 0 0;
}
td.sources tr:first-child td:last-child,
tr:first-child th:last-child {
    border-radius:0 5px 0 0;
}
tr:last-child td:first-child {
    border-radius:0 0 0 5px;
}
tr:last-child td:last-child {
    border-radius:0 0 5px 0;
}
td {
    background-color: lightgrey;
    padding:6px;
    vertical-align:top;
}
.composer .dates {
    text-style:italic;
    color:grey;
}
td.position {
    display:none;
}
table td.sources img {
    display:inline-block;
    height:50px;
    margin:0;
    padding:0;
    border:0;
    float:left;
}
table td.sources img.missing {
    border:1px solid darkred;
}
table td.sources img.incomplete {
    border:1px solid green;
}
table td.sources img.optional {
    opacity:0.3;
}
table td.sources img.missing + img.missing,
table td.sources img.incomplete + img.incomplete {
    border-left:none;
}
table td.sources img.optional + img.missing {
    border-left:1px solid darkred;
}
table td.sources img.optional + img.incomplete {
    border-left:1px solid green;
}
table td.sources img.optional.missing + img.missing,
table td.sources img.optional.missing + img.incomplete,
table td.sources img.optional.incomplete + img.missing,
table td.sources img.optional.incomplete + img.incomplete {
    margin-left:-1px;
}
div.maintable {
    overflow-x:auto;
    -webkit-overflow-scrolling: touch;
    max-width:100%;
    width:100%;
    font-size:12px;
}
.maintable table td.title,
.maintable table th.title {
    width:13%;
}
.maintable table td.functions,
.maintable table th.function,
.maintable table td.composers,
.maintable table th.composers {
    width:11%;
}
.maintable table td.minimum-voices,
.maintable table th.minimum-voices {
    width:2%;
}
.maintable table td.editions,
.maintable table th.edition,
.maintable table td.recordings,
.maintable table th.recording {
    width:8%;
}
.maintable table td.sources {
    padding:0;
    font-size:0.9em;
}
.maintable table td.source-name {
    width:30%;
}
.maintable table td.clefs {
    width:40%;
}
.maintable table td.notes {
    width:20%;
}
a.edition,
a.recording {
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;    
}
a.edition img,
a.recording img {
    height: 20px;
    margin-right:5px;
}
div.edition + div.edition,
div.recording + div.recording {
    margin-top:10px
}

/* ADMIN PAGES */
div.nav {
    width:98%;
    margin:10px auto;
}
div.login {
    display:flex;
    padding:5px 10px;
    justify-content:space-between;
    align-items:center;
    font-size:0.9em;
    background-color:lightgrey;
}
ul.navigation {
    display:flex;
    flex-wrap:wrap;
    flex-grow:1;
    align-items:center;
    justify-content:stretch;
}
ul.navigation * {
    flex-grow:1;
}
.adminwrapper label {
    color:white;
    text-transform:uppercase;
}
.adminwrapper ul {
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:1.4em;
    margin:20px 10px;
}
.adminwrapper li {
    padding:3px;
}
div.login input,
ul.navigation a {
    display:flex;
    color: white;
    background-color: #104e8b;
    border:2px groove #2e6ca9;
    padding:5px;
    margin:5px;
    min-width:120px;
    border-radius:5px;
    cursor:pointer;    
}
div.login input:hover,
ul.navigation a:hover {
    background-color: #2e6ca9;
    transform:scale(1.07,1.07);
}
div.listofsources {
    display:flex;
    width:100%;
    flex-wrap:nowrap;
}
div.listofsources > * {
    flex-grow:1;
}
.adminwrapper form,
.adminwrapper form p {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.adminwrapper form input {
    margin:0px 10px;
}
