/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    padding:0;
    border:0;
    margin:0;
}
body {
    background: repeating-linear-gradient(45deg,
    #3a3a3a,
    #3a3a3a 1px,
    #3c3c3c 3px,
    #3a3a3a 5px);
    font-size:14px;
    font-family:'palatino linotype', serif;
}
table {
    margin:10px;
    border-spacing: 1px;
    border-collapse: separate;
}
th {
    background:rgb(16,78,139);
    color:white;
    text-transform:uppercase;
    font-size:0.8em;
    padding:10px;
}
td {
    background:rgb(198,198,183);
    padding:5px;
}
select {
    max-width:150px;
}
input, select {
    font-size:1.2em;
    padding:5px;
    border-radius:5px;
    background-color:#eeeeee;
}
button {
    font-size:1.2em;
    border-radius:5px;
    padding:5px 30px;
    float:right;
    color:white;
    background-color: rgb(16,78,139);
    border: 2px groove rgb(46,108,169);
}
button:hover {
    background-color:rgb(46,108,169);
    cursor:pointer;
}
div.editor-and-voicing {
    display:none;
}
tr:first-child th:first-child {border-top-left-radius: 5px; }
tr:first-child th:last-child {border-top-right-radius: 5px; }
tr:last-child td:first-child {border-bottom-left-radius: 5px; }
tr:last-child td:last-child {border-bottom-right-radius: 5px; }
td img {
    width:20px;
    float:left;
}
td.clefs {
    min-width:96px
}
.source-name {
    max-width:220px;
}
.position {
    font-size:0.8em;
    color:grey;
    vertical-align:0;
    max-width:10px;
}
td.notes {
    font-style:italic;
}
form {
    margin:10px;
}

@media screen and (max-width: 600px) {
    th.sources,td.sources,th.function,td.functions {
        display:none;
    }
}
