<h1>Functions</h1>

<h2>Add function</h2>
<%= form_for([:admin, Function.new]) do |f| %>
  <%= f.text_field :name %>
  <button>Create</button>
<% end %>

<ul>
  <% Function.order(:name).each do |function| %>
    <li><%= link_to function.name, edit_admin_function_path(function) %></li>
  <% end %>
</ul>
