<h1>Scribes</h1>

<h2>Add scribe</h2>
<div class="topform">
  <%= form_for([:admin, Scribe.new]) do |f| %>
    <%= f.text_field :name %>
    <button>Create</button>
  <% end %>
</div>

<h2>Edit existing scribes</h2>

<ul class="mainlist">
  <% Scribe.order(:name).each do |scribe| %>
    <li><%= link_to scribe.name, edit_admin_scribe_path(scribe) %></li>
  <% end %>
</ul>
